@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #14a376;
  --brand-light: #E1F5EE;
  --brand-dark: #074435;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #111111;
}